@page "/ventas/crear"

<h3>Crear Venta</h3>

<EditForm Model="newVenta" OnValidSubmit="CreateVenta">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Comentarios">Comentarios:</label>
        <InputText id="Comentarios" class="form-control" @bind-Value="newVenta.Comentarios" />
    </div>

    <div class="form-group">
        <label for="IdUsuario">Id Usuario:</label>
        <InputNumber id="IdUsuario" class="form-control" @bind-Value="newVenta.IdUsuario" />
    </div>

    <button type="submit" class="btn btn-success">Crear Venta</button>
</EditForm>

@code {
    private Venta newVenta = new Venta();

    protected void CreateVenta()
    {
        string connectionString = "Data Source=COMPUMATI\\MSSQLSERVER01;Initial Catalog=CoderhouseProyectoFinal;Integrated Security=True;Encrypt=True;TrustServerCertificate=True";

        //
        VentaDataAccess.CrearVenta(newVenta, connectionString);

        //
        NavigationManager.NavigateTo("/ventas");
    }

    [Inject] private NavigationManager NavigationManager { get; set; }
}
