@page "/usuarios/crear"

<h3>Crear Usuario</h3>

<EditForm Model="newUsuario" OnValidSubmit="CreateUsuario">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Nombre">Nombre:</label>
        <InputText id="Nombre" class="form-control" @bind-Value="newUsuario.Nombre" />
    </div>

    <div class="form-group">
        <label for="Apellido">Apellido:</label>
        <InputText id="Apellido" class="form-control" @bind-Value="newUsuario.Apellido" />
    </div>

    <div class="form-group">
        <label for="NombreUsuario">Nombre de Usuario:</label>
        <InputText id="NombreUsuario" class="form-control" @bind-Value="newUsuario.NombreUsuario" />
    </div>

    <div class="form-group">
        <label for="Contraseña">Contraseña:</label>
        <InputText id="Contraseña" type="password" class="form-control" @bind-Value="newUsuario.Contraseña" />
    </div>

    <div class="form-group">
        <label for="Mail">Correo Electrónico:</label>
        <InputText id="Mail" class="form-control" @bind-Value="newUsuario.Mail" />
    </div>

    <button type="submit" class="btn btn-success">Crear Usuario</button>
</EditForm>

@code {
    private Usuario newUsuario = new Usuario();

    protected void CreateUsuario()
    {
        string connectionString = "Data Source=COMPUMATI\\MSSQLSERVER01;Initial Catalog=CoderhouseProyectoFinal;Integrated Security=True;Encrypt=True;TrustServerCertificate=True";

        //
        UsuarioDataAccess.CrearUsuario(newUsuario, connectionString);

        // 
        NavigationManager.NavigateTo("/usuarios");
    }

    [Inject] private NavigationManager NavigationManager { get; set; }
}
